{% extends 'admin/adminTemplates.html.twig' %}

{% block title %}New Offre{% endblock %}

{% block title2 %}Nouvelle offre{% endblock %}

{% block content %}
    <h1>Create new Offre</h1>

    {{ include('admin/offre/_form.html.twig') }}


{% endblock %}
