{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form class="login100-form validate-form" action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <span class="login100-form-title p-b-37">
        Identifiez-vous
    </span>
    <div class="wrap-input100 validate-input m-b-20" data-validate = "Entrer le nom d'utilisateur">
        <input class="input100" type="text"
               id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username"
               placeholder="Nom d'utilisateur"
        >
        <span class="focus-input100" data-placeholder="&#xf207;"></span>
    </div>
    <div class="wrap-input100 validate-input m-b-25" data-validate="Entrer le mot de passe">
        <input class="input100" type="password"
               id="password" name="_password" required="required" autocomplete="current-password"
               placeholder="Mot de passe"
        >
        <span class="focus-input100" data-placeholder="&#xf191;"></span>
    </div>

    <div class="contact100-form-checkbox">
        <input class="input-checkbox100" type="checkbox" id="remember_me" name="_remember_me" value="on">
        <label class="label-checkbox100" for="remember_me">
            Se souvenir de moi
        </label>
    </div>

    <div class="container-login100-form-btn">
        <button class="login100-form-btn" type="submit" id="_submit" name="_submit">
            Connexion
        </button>
    </div>

    <div class="text-center p-t-90">
        <a class="txt1" href="#">
            Mot de passe oublié ?
        </a>
    </div>
</form>



{% if error %}
    <script type="text/javascript">
        alert('Identifiant ou mot de passe incorrect');
    </script>
{% endif %}